

/*  Clases  */
.rectanguloseleccionadoPASADO{
    background-color: #fff1be;
    position: absolute;
    width: 345px;
    height: 221px;
    left: 0px;
    top: 100px;

    border: 3px solid #FFEF3E;
    box-sizing: border-box;
    border-radius: 5px;

}
.rectanguloseleccionado{
    background-color: #ffffff;
    position: absolute;
    width: 345px;
    height: 221px;
    left: 390px;
    top: 100px;

    border: 3px solid #FFEF3E;
    box-sizing: border-box;
    border-radius: 5px;

}
.rectanguloNOseleccionado{
    position: absolute;
    width: 345px;
    height: 221px;
    left: 390px;
    top: 100px;
    background-color: #eeeeee;
    border: 3px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 5px;
}
.circuloJEVI{
    position: absolute;
    height: 58px;
    width: 58px;
    left: 143px;
    top: 24px;
    border-radius: 500px;


    background: #FFEF3E;

}
.numero{
    position: absolute;
    width: 58px;
    height: 58px;
    left: 168px;
    top: 42px;




    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #333333;
}
.tituloo{
    position: absolute;
    width: 65px;
    height: 22px;
    left: 140px;
    top: 95px;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #333333;
}
#barramarilla2{
    position: absolute;
    width: 119px;
    height: 64px;
    left: 184px;
    top: 138px;

    background: rgba(184, 171, 0, 0.2);
    border-radius: 5px;
}
#barramarilla{
    position: absolute;
    width: 119px;
    height: 64px;
    left: 34px;
    top: 138px;

    background: rgba(184, 171, 0, 0.2);
    border-radius: 5px;
}


/*Filtro Busqueda*/
#filtroBUSQUEDA{
    position: absolute;
    width: 301px;
    height: 828px;
    left: 34px;
    top: 359px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 2px rgba(196, 196, 196, 0.2);
    border-radius: 5px;
}

.t1{

    position: absolute;
    width: 162px;
    height: 24px;
    left: 31px;
    top: 25px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #333333;
}
.vertical-menu {

    position: absolute;
    width: 200px;
    height: 150px;
    left: 31px;
    top: 85px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.botonpos{

    position: absolute;
    width: 24px;
    height: 18px;
    left: 25px;
    top: 500px;

}


.titulobusqueda{
    position: absolute;
    width: 24px;
    height: 18px;
    left: 60px;
    top: 505px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #333333;
}



/*carro seleccion*/
.carro-seleccion{
    position: absolute;
    width: 1006px;
    height: 219px;
    left: 394px;
    top: 359px;

    background: rgba(255, 252, 218, 0.2);
    border-radius: 5px;
}

.foto-vehiculo{
    position: absolute;
    width: 311px;
    height: 219px;
    left: 0px;
    top: 0px;

    border-radius: 5px;
}

.titulo-vehiculo{
    position: absolute;
    width: 97px;
    height: 36px;
    left: 349px;
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;

    color: #333333;

}

.tipode-vehiculo{
    position: absolute;
    width: 76px;
    height: 18px;
    left: 357px;
    top: 49px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 13.5px;
    line-height: 18px;

    color: #333333;
}

.recgris{
    position: absolute;
    width: 92px;
    height: 22px;
    left: 349px;
    top: 58px;

    background: rgba(196, 196, 196, 0.2);
    border-radius: 2px;
}

.icono-pasajeros{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 349px;
    top: 100px;

}

.num-pasajeros{

    position: absolute;
    width: 10px;
    height: 18px;
    left: 372px;
    top: 87px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #808080;
}

.otrasinfo{
    position: absolute;
    width: 150px;
    height: 18px;
    left: 349px;
    top: 145px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #333333;
}


.otrasinfo-icono-pos{
    position: absolute;
    width: 13.23px;
    height: 17.65px;
    left: 349px;
    top: 194px;
}
.precio-vehiculo{
    position: absolute;
    width: 250px;
    height: 31px;
    left: 711px;
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;

    color: #333333;
}

.forma-boton-amarillo{
    position: absolute;
    width: 187px;
    height: 42px;
    left: 711px;
    top: 85px;

    background: #FFEF3E;
    border-radius: 5px;
}

.seleccionar-titulo{
    position: absolute;
    width: 87px;
    height: 18px;
    left: 50px;
    top: 12px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;

    color: #333333;
}



















/*NAV BAR CLIENTE*/
* { box-sizing:border-box; }
.administrarvLOGO{
    flex:1 1 auto;
}
.logo{
    flex:1 1 auto;
}

nav{

    outline-style: solid;
    outline-offset: 3px;
    outline-color: #d7d7d7;
    display: flex;
    background: #fff;
    padding: 10px 0;
    justify-content: space-evenly;


}
.administrarv{
    display: inline;
    color: black;
    padding: 10px 30px;
    text-decoration: none;
    margin: auto;

}


.administrarv:hover{
    background: #d4d4d4;
    border-radius: 5px;
}
.circulop {

    width: 53px;
    height: 53px;
    left: 1425px;
    top: 8px;
    display: inline;
    padding: 10px 10px;
    text-decoration: none;
    margin: auto;
    /*border: 2px solid #FFA751;*/
    background: url("../admin 1.png");
    border-radius: 500px;

}
body {
    font-family: 'Inter',sans-serif;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}