
* { box-sizing:border-box; }

body {
  font-family: 'Inter',sans-serif;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
  text-align:center;
  margin-top: 4em;
}

h1{  font-weight: 700;
    font-family: 'Inter', sans-serif; }

h3{
  font-weight: 300;
}

.header3{ 
  color: #242323;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
 }
 .header3:hover{
   text-decoration: underline;
 }

form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: RGB(255,162,4,0.05);
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
  position: relative; 
  margin-bottom: 45px; 
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #f3f17b00;
  color: #242323;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
  color: rgb(53, 52, 52); 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
  
}


/* active */

input:focus ~ label, input.used ~ label {
  top: -20px;
  transform: scale(.75); left: -2px;
  /* font-size: 14px; */
  color: black;
}


/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: gold; 
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
  from { background: black; }
  to  { width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: black;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid gold;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonGold {
  background: gold;
  /*text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);*/
}

.buttonGold:hover { background: #fffb0000; }

p{  text-align: center;}
.abuenogracias{
  text-decoration:double;
  color: black;
  font-weight: bold;
}
.abuenogracias:hover{
  text-decoration: underline;
}

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

/* Header */

.logo{
    flex:1 1 auto;
}

nav{

    outline-style: solid;
    outline-offset: 3px;
    outline-color: gold;
    display: flex;
    background: #fff;
    padding: 10px 0;
    justify-content: space-evenly;
    
    
}
.nav-menu{
    display: inline;
    color: black;
    padding: 10px 30px;
    text-decoration: none;
    margin: auto;
    
}
.nav-registro{
    display: inline-block;
    color:black;
    background: gold;
    border-radius: 5px;
    margin-right: 25px;
    padding: 10px 30px;
    border: 2px solid gold;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    
}
.nav-iniciarsesion{
    display: inline-block;
    color:black;
    border: 2px solid gold;
    border-radius: 5px;
    margin-right: 25px;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 500;
}
.nav-menu:hover{
    background: gold;
    border-radius: 5px;
}
.nav-iniciarsesion:hover{
    background: gold;
    border-radius: 5px;
}
.nav-registro:hover{
    background: #fff;
    border-radius: 5px;  
}

header{
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
/* Footer */
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(161, 119, 12);
  color: white;
  text-align: center;
}